PORT=3000
FRONTEND_URL=http://localhost:5173
BALE_WALLET_TOKEN=YOUR_BALE_TOKEN_HERE
BALE_PAYMENT_URL=YOUR_BALE_PAYMENT_URL_HERE
BALE_CALLBACK_URL=http://localhost:3000/api/bale-callback
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
